        .card-img-top {
            height: 200px;
            object-fit: cover;
        }

        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1030;
            transition: background-color 0.3s ease;
        }

        .sticky-bg {
            background-color: #002e32 !important;
            color: white;
            font-weight: bold;
        }

        .hero-section {
            height: 100vh;
            background: url('Images/kkk.jpg') no-repeat center center/cover;
        }

        .projects-section,
        .contact-section {
            background-color: #f5f5f5;
        }

        .btn {
            background-color: #002e32;
            color: #f5f5f5;
        border: none;
          }


        .btn:hover {
            background-color: #c4cecf;
            color: #002e32;
        }

        #about,
        #contact,
        #projects,
        #skills,
        label {
            color: #002e32;
        }
#navbar{
  font-weight: bold;
}
      

